@font-face {
  font-family: "iconfont";
  /* Project id 5116116 */
  src: url('//at.alicdn.com/t/c/font_5116116_eih5i0lc4lf.woff2?t=1769152266542') format('woff2'),
    url('//at.alicdn.com/t/c/font_5116116_eih5i0lc4lf.woff?t=1769152266542') format('woff'),
    url('//at.alicdn.com/t/c/font_5116116_eih5i0lc4lf.ttf?t=1769152266542') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou1:before {
  content: "\e600";
}

.icon-fangdajing:before {
  content: "\e662";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-video:before {
  content: "\e634";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-yanchu-xianxing2-0:before {
  content: "\e683";
}

.icon-caidan:before {
  content: "\e790";
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* nav start */
.nav-bar {
  width: 100%;
  height: 0.9rem;
  background-color: #e54847;
  line-height: 0.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar span {
  font-size: 0.33rem;
  color: white;
}

.nav-bar-right {
  position: absolute;
  right: 0;
  margin-bottom: 0.3rem;
  margin-right: 0.2rem;
}

.nav-bar-right i {
  font-size: 0.4rem;
}

.nav-bar-right a {
  color: white;
}

/* nav end */
/* top start */
.top-bar {
  width: 100%;
  height: 0.8rem;
  background: white;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.173);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-left {
  width: 30%;
  height: 100%;
  line-height: 0.8rem
}

.top-bar-left .city-name {
  display: block;
  font-size: 0.25rem;
  color: #666;
  margin-left: 0.3rem;
}

.top-bar-left .city-name .city-entry {
  color: #666;
  font-size: 0.1rem;
}

.top-bar-middle {
  width: 40%;
  height: 100%;
  line-height: 0.8rem;
}

.top-bar-middle .hot-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

}

.top-bar-middle .hot-list .hot-item {
  font-size: 0.28rem;
  font-weight: bold;
  color: #666;
}

.top-bar-middle .hot-list .hot-item.active {
  font-size: 0.3rem;
  color: black;
}

/* slider start */
.top-bar-middle .hot-list .slider {
  position: absolute;
  bottom: 0.1rem;
  height: 0.04rem;
  width: 0.4rem;
  background-color: #e54847;
  border-radius: 0.02rem;
  left: 18%;
  /* left: 50%; */
  /* left: 84%; */
  transform: translateX(-50%);
  transition: left 0.3s ease;
}

/* slider end */
.top-bar-right {
  width: 30%;
  height: 100%;
  line-height: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-bar-right .search {
  line-height: 0.8rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
}

.top-bar-right .search a {
  color: #e54847;
  font-weight: 1000;
}

/* top end */


/* end start */
.site-footer {
  width: 100%;
  height: 0.8rem;
  font-size: 0.33rem;
  position: absolute;
  bottom: 0;
}

.site-footer .bottom-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 0.05rem;
}

.site-footer .bottom-btns li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #696969;
}
.site-footer .bottom-btns li.active {
  color: #e54847;
}

.site-footer .bottom-btns li i {
  font-size: 0.4rem;
}
.site-footer .bottom-btns li span {
  font-size: 0.2rem;
}

/* end end */