/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont";
  /* Project id 5066408 */
  src: url("//at.alicdn.com/t/c/font_5066408_8sqkkzikr27.woff2?t=1763278986601") format("woff2"),
    url("//at.alicdn.com/t/c/font_5066408_8sqkkzikr27.woff?t=1763278986601") format("woff"),
    url("//at.alicdn.com/t/c/font_5066408_8sqkkzikr27.ttf?t=1763278986601") format("truetype");
}

@font-face {
  font-family: "iconfont";
  /* Project id 5066408 */
  src: url("//at.alicdn.com/t/c/font_5066408_8sqkkzikr27.woff2?t=1763278986601") format("woff2"),
    url("//at.alicdn.com/t/c/font_5066408_8sqkkzikr27.woff?t=1763278986601") format("woff"),
    url("//at.alicdn.com/t/c/font_5066408_8sqkkzikr27.ttf?t=1763278986601") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.icon-qq:before {
  content: "\e66a";
}

.icon-weibo:before {
  content: "\e66b";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e608";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MiSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji";
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.side-illustration {
  background-image: url("../../assets/mibg.jpg");
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 100vh;
}

/* 右侧登录界面 开始 */
.login-panel {
  flex: 1 1 auto;
  min-width: 300px;
  height: 100vh;
}

/* 右侧登录界面 结束 */

/* 整个导航栏 开始 */
.site-nav-bar {
  width: 100%;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.site-nav-bar a:hover {
  color: #ff5c00;
}

/* 整个导航栏 结束 */

/* 导航栏左侧部分 开始*/
.nav-bar-left .logo-section img {
  height: 39.9px;
  width: 39.9px;
}

.nav-bar-left .logo-section {
  display: flex;
  gap: 9px;
}

.logo-section h1 {
  font-weight: 500;
  font-size: 26px;
  color: #333;
}

/* 导航栏左侧部分 结束*/

/* 导航栏右侧部分 开始*/
.nav-bar-right {
  display: flex;
}

.nav-bar-right a {
  text-decoration: none;
  color: rgb(131, 131, 131);
  font-size: 14px;
  font-weight: 400;
}

.nav-bar-right .menu-section {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.nav-bar-right .language-section {
  display: flex;
  margin-left: 20px;
  margin-right: 30px;
  position: relative;
}

.language-section::before {
  content: "";
  position: absolute;
  top: 100%;
  right: -40px;
  width: 200px;
  height: 40px;
}

.language-toggle-list {
  position: absolute;
  top: 40px;
  right: -40px;
  height: 206px;
  width: 200px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: none;
  overflow: hidden;
}

.language-toggle-list li {
  color: black;
  list-style: none;
  padding: 14px 20px;
}

.language-toggle-list li:hover {
  background-color: #f0f0f0;
}

.language-toggle-list li:first-child {
  padding: 20px 20px 14px 20px;
}

.language-toggle-list li:last-child {
  padding: 14px 20px 14px 20px;
}

.language-toggle-list a {
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.nav-bar-right .language-section:hover .language-toggle-list {
  display: block;
}

.nav-bar-right .language-section::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(131, 131, 131);
  margin-left: 7px;
  margin-top: 9px;
}

.separator-wrapper {
  height: 15px;
  width: 0.5px;
  background-color: rgb(131, 131, 131);
  display: flex;
  align-items: center;
  margin-top: 3px;
}

/* 导航栏右侧部分 结束 */
/* 登录表单部分 开始 */
.login-card {
  width: 450px;
  height: 567px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  margin: 56px auto 0px auto;
  padding: 40px 45px;
  position: relative;
}

.login-card .QR-code img {
  height: 42px;
  width: 42x;
}

.login-card .QR-code {
  position: absolute;
  top: -25px;
  right: -25px;
}

.login-card .QR-code-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  justify-content: center;
  border-right: 32px solid #ffbe99;
  border-top: 32px solid #ffbe99;
  border-bottom: 32px solid transparent;
  border-left: 32px solid transparent;
}

.login-card .QR-code-wrapper:hover {
  border-right: 32px solid #ff5c00;
  border-top: 32px solid #ff5c00;
}

.tabs {
  height: 41px;
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: #bbbbbb;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
}

.tabs button.active {
  color: black;
}

.tabs button.active::after {
  content: "";
  height: 4px;
  width: 44px;
  border-radius: 2px;
  background-color: #ff5c00;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.login-form {
  padding: 20px 2px 0px 2px;
}

.login-form .account {
  width: 355px;
  height: 60px;
  padding: 30px 20px 10px 20px;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 30px;
}

.login-form .account label {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 17px;
  color: #959595;
  transition: all 0.3s;
  pointer-events: none;
}

.login-form .account input:focus+label,
.login-form .account input:not(:placeholder-shown)+label {
  top: 7px;
  font-size: 12px;
  color: #ff5c00;
  /* Or keep original color if preferred, usually active color is better */
}

.login-form .account input {
  width: 315px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.login-form .password {
  width: 355px;
  height: 60px;
  padding: 30px 20px 10px 20px;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.login-form .password label {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 17px;
  color: #959595;
  transition: all 0.3s;
  pointer-events: none;
}

.login-form .password input:focus+label,
.login-form .password input:not(:placeholder-shown)+label {
  top: 7px;
  font-size: 12px;
  color: #ff5c00;
}

.login-form .password input {
  width: 315px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.toggle-password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  border: none;
  padding: 0;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #999;
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12.0002 4C16.8058 4 21.0308 6.59211 23.4598 10.5088C24.0264 11.4222 24.0264 12.5771 23.46 13.4906C21.0311 17.4077 16.8059 20 12.0002 20C7.19446 20 2.96933 17.4078 0.540313 13.491C-0.0262249 12.5774 -0.0262006 11.4225 0.540358 10.5089C2.96953 6.59209 7.19458 4 12.0002 4ZM11.9856 6.8C9.14752 6.8 6.84678 9.12812 6.84678 12C6.84678 14.8719 9.14752 17.2 11.9856 17.2C14.8237 17.2 17.1245 14.8719 17.1245 12C17.1245 9.12812 14.8237 6.8 11.9856 6.8ZM11.9856 8.4C13.9505 8.4 15.5433 10.0118 15.5433 12C15.5433 13.9882 13.9505 15.6 11.9856 15.6C10.0208 15.6 8.42797 13.9882 8.42797 12C8.42797 10.0118 10.0208 8.4 11.9856 8.4Z'/></svg>") no-repeat center / contain;
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12.0002 4C16.8058 4 21.0308 6.59211 23.4598 10.5088C24.0264 11.4222 24.0264 12.5771 23.46 13.4906C21.0311 17.4077 16.8059 20 12.0002 20C7.19446 20 2.96933 17.4078 0.540313 13.491C-0.0262249 12.5774 -0.0262006 11.4225 0.540358 10.5089C2.96953 6.59209 7.19458 4 12.0002 4ZM11.9856 6.8C9.14752 6.8 6.84678 9.12812 6.84678 12C6.84678 14.8719 9.14752 17.2 11.9856 17.2C14.8237 17.2 17.1245 14.8719 17.1245 12C17.1245 9.12812 14.8237 6.8 11.9856 6.8ZM11.9856 8.4C13.9505 8.4 15.5433 10.0118 15.5433 12C15.5433 13.9882 13.9505 15.6 11.9856 15.6C10.0208 15.6 8.42797 13.9882 8.42797 12C8.42797 10.0118 10.0208 8.4 11.9856 8.4Z'/></svg>") no-repeat center / contain;
}

.toggle-password:hover {
  background-color: #555;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  appearance: none;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

.checkbox label {
  font-size: 14px;
  color: #555;
}

.checkbox label a {
  color: black;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #ff5c00;
}

.checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.submit-button {
  margin: 20px 0px 10px 0px;
  width: 356px;
  height: 60px;
  background-color: #ffc399;
  border-radius: 5px;
  font-size: 18px;
}

.submit-button button {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  color: white;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 356px;
  height: 37px;
}

.form-links a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: #ff5c00;
}

.other-login .title {
  width: 360px;
  height: 40px;
  text-align: center;
  font-size: 17px;
  color: rgb(170, 170, 170);
}

.other-login .icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.other-login .icons img {
  height: 46px;
  width: 46px;
}

/* 登录表单部分 结束 */
.site-footer {
  color: rgb(153, 153, 153);
  font-size: 12px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

.site-footer a {
  color: rgb(153, 153, 153);
}